<main class="contact-main-section container">
  <h1 class="contact-main-section_heading mb-5">Контакт</h1>
  <div class="contact-main-section-help">
    <h4 class="mb-4">Побарај стручна помош</h4>
    <div
      class="contact-main-section_firstCard rounded-3 py-4 mb-4 d-flex align-items-center justify-content-around"
    >
      <div class="help-left col-9">
        <h5>Агенција за заштита на личните податоци</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
          voluptates, provident perferendis quasi incidunt ut, unde labore
          commodi veniam minus harum soluta illo excepturi cupiditate temporibus
          amet ab voluptas ullam! Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Nam, fuga.
        </p>
      </div>
      <button class="contact-section-linkbtn col-3 rounded-3">Линк</button>
    </div>
  </div>
  <div class="contact-main-section_ngo">
    <h4 class="mb-4">Невладини организации</h4>
    <div
      class="contact-main-section_secondCard rounded-3 py-4 mb-4 d-flex align-items-center justify-content-around"
    >
      <div class="help-left col-9">
        <h5>NGO 1</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
          doloribus deleniti quia tempora nesciunt cupiditate at, minima
          corporis ab minus ipsa quos reiciendis, nam illo quod esse
          necessitatibus. Consequuntur, quisquam! Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Nam, fuga.
        </p>
      </div>
      <button class="contact-section-linkbtn col-3 rounded-3">Линк</button>
    </div>
    <div
      class="contact-main-section_thirdCard rounded-3 py-4 mb-4 d-flex align-items-center justify-content-around"
    >
      <div class="help-left col-9">
        <h5>NGO 2</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
          doloribus deleniti quia tempora nesciunt cupiditate at, minima
          corporis ab minus ipsa quos reiciendis, nam illo quod esse
          necessitatibus. Consequuntur, quisquam! Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Nam, fuga.
        </p>
      </div>
      <button class="contact-section-linkbtn col-3 rounded-3">Линк</button>
    </div>
    <div
      class="contact-main-section_fourthCard rounded-3 py-4 mb-5 d-flex align-items-center justify-content-around"
    >
      <div class="help-left col-9">
        <h5>NGO 3</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
          doloribus deleniti quia tempora nesciunt cupiditate at, minima
          corporis ab minus ipsa quos reiciendis, nam illo quod esse
          necessitatibus. Consequuntur, quisquam! Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Nam, fuga.
        </p>
      </div>
      <button class="contact-section-linkbtn col-3 rounded-3">Линк</button>
    </div>
  </div>
</main>
