<div class="banner">
  <div class="banner-content play-video-btn">
    <i class="fa-solid fa-play fa-2xl"></i>
  </div>
  <div class="video-container" id="videoContainer">
    <video
      id="video"
      src="../assets/video/my-video.mp4"
      type="video/mp4"
      autoplay
      muted
      controls
    ></video>
  </div>
</div>

<!-- MAIN section -->

<main class="container text-center">
  <h1 class="heading-text my-5">Информирај се и заштити се</h1>
  <section class="main-cards mb-5">
    <div class="main-cards_firstCard p-4 rounded-3 mb-5">
      <div class="row justify-content-between">
        <h4 class="col-8 text-start main-cards_heading">
          Научи сѐ што треба да знаеш
        </h4>
        <img
          src="./assets/icons/mdi_eye-lock-outline.png"
          alt=""
          class="mdi-icons col-4"
        />
      </div>
      <p class="main-cards_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ea
        eos architecto facere corporis. Esse cum quos ipsa atque veniam quaerat
        quae, voluptas aliquid id officia odio eius dolores et? Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Modi, aut.
      </p>
      <button class="purple-btn w-100 py-2 rounded">Дознај повеќе</button>
    </div>
    <div class="main-cards_secondCard p-4 rounded-3 mb-5">
      <div class="row justify-content-between">
        <h4 class="col-8 text-start main-cards_heading">
          Вклучи се во дискусија
        </h4>
        <img
          src="./assets/icons/mdi_encryption-check.png"
          alt=""
          class="mdi-icons col-4"
        />
      </div>
      <p class="main-cards_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ea
        eos architecto facere corporis. Esse cum quos ipsa atque veniam quaerat
        quae, voluptas aliquid id officia odio eius dolores et? Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Modi, aut.
      </p>
      <button class="blue-btn w-100 py-2 rounded">Дознај повеќе</button>
    </div>
    <div class="main-cards_thirdCard p-4 rounded-3 mb-5">
      <div class="row justify-content-between">
        <h4 class="col-8 text-start main-cards_heading">
          Следи го својот напредок
        </h4>
        <img
          src="./assets/icons/mdi_user-access-control.png"
          alt=""
          class="mdi-icons col-4"
        />
      </div>
      <p class="main-cards_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ea
        eos architecto facere corporis. Esse cum quos ipsa atque veniam quaerat
        quae, voluptas aliquid id officia odio eius dolores et? Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Modi, aut.
      </p>
      <button class="green-btn w-100 py-2 rounded">Дознај повеќе</button>
    </div>
  </section>
</main>
